/* General template */
body{
    background-color: lightyellow;
}
h1 {
    text-align: center;
    font-size: 60px;
    padding: 20px;
    margin: 20px; background-color: lightblue;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.page-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 20px;
    margin: 0;
    margin-right: 20px;
    width: 250px;   
    background-color: lightblue;
    border-radius: 5px;
}
#nav-title {
    font-size: 27px;
    font-weight: bold;
    background-color: lightblue;
    box-shadow: none;
    color: darkblue;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}
nav > ul > li {
    margin: 10px 0;
    padding: 10px;
    background-color: lightyellow;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
nav > ul > li:hover {
    background-color: lightgreen;
    cursor: pointer;
}
.nav-option {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
}
nav > ul > li > a {
    text-decoration: none;
    color: darkblue;
}
#nav-selected {
    text-decoration: underline;
}
.content {
    flex-grow: 1;;
    padding: 20px;
    align-self: flex-start;
    text-align: center;
    background-color: lightyellow;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content-section > h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: darkblue;
    background-color: lightblue;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid darkblue;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    margin-left: 25%;
    margin-right: 25%;
}